@model Bangazon.ViewComponents.RecentProductsViewModel

<h1>Recent Products Added For Sale</h1>

<span style="display:flex; flex-flow: row wrap">
    @foreach (var item in Model.Products)
    {
    <span class="border m-3" style="width:150px; height:150px; display:flex; justify-content:center; align-items:center" >
        <a class="nav-link text-dark" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
            <img src="~/img/@item.ImagePath" height="75" width="75" /><br />
            @Html.DisplayFor(modelItem => item.Title)

        </a>
    </span>
    }
</span>