@model Bangazon.ViewComponents.RecentProductsViewModel

<h1>Recent Products</h1>

<table class="table">
    <tbody>
            @foreach (var item in Model.Products)
            { 
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Title)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
            </tr>
            }
        </tr>
    </tbody>
</table>