@model Bangazon.ViewComponents.RecentProductsViewModel

<h1>Recent Products Added For Sale</h1>

<table class="table">
    <tbody>
            @foreach (var item in Model.Products)
            { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)<br />
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
            }
    </tbody>
</table>