@{
    ViewData["Title"] = "Home Page";
}



    <div class="text-center">
       
        @*partial view that gives latest 20 products created*@
        <span>@await Component.InvokeAsync("RecentProducts")</span>
    </div>
