@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Abandoned Products";
}

<h1>AbandonedProducts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderProducts.First().Product.ProductType)
            </th>
            <th>
                Incomplete
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    foreach (var op in item.OrderProducts)
    {
            <td>
                @Html.DisplayFor(modelItem => op.Product.ProductType.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => op.Order.OrderId)
            </td>
    }
}
    </tbody>
</table>
