@model Bangazon.Models.Order

@{
    ViewData["Title"] = "ReportsIndex";
}

<h1>Reports</h1>

<p>
    <a asp-action="IncompleteOrders">Incomplete Orders</a>
    <br />
    <a asp-action="MultipleOrders">Multiple Orders</a>
    <br />
    <a asp-action="AbandonedProducts">Abandoned Products</a>
</p>

